@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300&display=swap');

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border-radius: 8px;
    display: flex;
    width: 850px;
    height: 460px;
    overflow: hidden;
}

.box1,
.box2,
.box3 {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 40px;
}
.box1 {
    background: hsl(31, 77%, 52%);
}

.box2 {
    background: hsl(184, 100%, 22%);;
}

.box3 {
    background: hsl(179, 100%, 13%);
}

.icon {
    width: 50px;
}

.size {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.desc {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
}

.learn-btn1,
.learn-btn2,
.learn-btn3 {
    margin-top: 90px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 70px;
    border: none;
    cursor: pointer;
}

.learn-btn1 {
    color: hsl(31, 77%, 52%);
}

.learn-btn2 {
    color: hsl(184, 100%, 22%);
}

.learn-btn3 {
    color: hsl(179, 100%, 13%);
}

.learn-btn1:hover {
    background: hsl(31, 77%, 52%);
    color: white;
    border: solid white 2px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.learn-btn2:hover {
    background: hsl(184, 100%, 22%);
    color: white;
    border: solid white 2px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.learn-btn3:hover {
    background: hsl(179, 100%, 13%);
    color: white;
    border: solid white 2px;
    padding-top: 8px;
    padding-bottom: 8px;
}